.productsHome {
  text-align: center;
  background-color: #f0f4f8; /* Fondo suave */
  padding: 20px; /* Espaciado */
}



.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0; /* Espaciado superior e inferior */
}

.product {
  background: white; /* Fondo blanco */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.2s, box-shadow 0.2s; /* Transición suave */
  padding: 15px; /* Espaciado interno */
  width: 220px; /* Ancho fijo */
  text-align: center; /* Centra el texto */
}

.product:hover {
  transform: translateY(-5px); /* Efecto de elevación */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.product img {
  border-radius: 10px; /* Bordes redondeados en la imagen */
  width: 100%; /* Imagen se adapta al ancho del contenedor */
  height: auto; /* Mantiene la proporción */
}

.product h3 {
  margin-top: 10px; /* Espaciado superior */
  font-size: 1.2rem;
  color: #333; /* Color del texto */
}

.router {
  margin-top: 30px; /* Espacio superior */
  font-size: 1.2rem;
  color: #007BFF; /* Color atractivo */
  text-decoration: underline; /* Subrayado */
  cursor: pointer; /* Indica que es clickeable */
}

.router:hover {
  color: #0056b3; /* Color al pasar el ratón */
}
